@font-face {
  font-family: "SamsungSans";
  src: url("../../assets/SamsungOne-400.ttf") format("truetype");
}


body {
    font-family: "SamsungSans", sans-serif;
}

button {
    border: none;
    background: linear-gradient();
    corner-radius: 0;
}